
@{
    ViewBag.Title = "create";
}

<h2>create</h2>


<fieldset>

    <legend>Employee Form</legend>
    <form action="Savadata">



        <label class="col-md-12">Name</label>
        <div class="col-md-12">
            <input type="text" name="name" class="form-control" />
        </div>

        <label class="col-md-12">Address</label>
        <div class="col-md-12">
            <input type="text" name="address"  class="form-control" />
        </div>

        <label class="col-md-12">Salary</label>
        <div class="col-md-12">
            <input type="text" name="salary" class="form-control" /><br />
        </div>

  
        <div class="col-md-12">
            <input type="submit"  value="Submit" class="btn btn-success" />
        </div>


    </form>
</fieldset>
